    <div class="jumbotron text-center">
        <h1 class="display-3">{{title}}</h1>
        <p>This is Nodejs project presented by AbdulRehman</p>
        <a href="/ideas/add" class="btn btn-dark btn-lg">Add Videos Idea</a>
    </div>      